.btn {
  display: block;
  background: $primaryColor;
  width: 25%;
  min-width: 200px;
  height: 60px;
  border-radius: 30px;
  color: $white;
  border: 0;
  font-size: $fontBig;
  margin: 20px auto;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;

  :hover {
    opacity: 0.8;
  }
}
